/* Main CSS */

table { 
    border: 1px dotted tomato;
}

td, th {
    padding: 5px 10px;
}

.timer {
    font-weight: bold;
    line-height: 20px;
}

table input[type="text"]:focus {
    box-shadow: 0px 2px 2px tomato;
}

table caption {
    font-weight: bold;
    color: tomato;
}

.widget {
    display: inline-block;
    float: left;
    margin: 15px;
}

.control {
    padding: 0 15px;
    width: 100%;
}

.control .buttons {
    display: block;
    width: 25%;
    float:left;
}

.control .stats {    
    display: block;
    width: 25%;
    float:left;
}

.remove {
    background: url("../img/times24.png") no-repeat center center;
    display: block;
    text-indent: -5000px;
    height: 24px;
    width: 24px;
    background-size: 22px 22px;
}

.remove:hover {
    background-size: 24px 24px;
}

a.remove:after {
    content: "";
}

a.remove:before {
    content: "";
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

input[type="button"] {
    border: 0;
    border-radius: 3px;
    padding: 5px 10px;
    background: tomato;
    font-weight: bold;
    cursor: pointer;
}

input[type="button"]:hover {
    background: coral;
}