/* Main CSS */

.container {
    padding: 10px 10px;
}

ul.folders {
    display: block;    
    list-style: none;
    background: #ddd;
    padding: 0 40px;
    margin: 0;
    border-radius: 8px;
    box-shadow: 0 0 2px inset;
}

ul.folders li {
    display: inline;
    float: left;
    padding: 0 0;
}

ul.folders li a:hover {
    background: #ccc;
    box-shadow: 0 0 2px inset;
}

ul.folders li a {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 5px 10px;  
}

ul.folders li a.selected {
    background: #ccc;
    box-shadow: 0 0 2px inset;
}

table.mailbox {
    width: 100%;
    margin-top: 10px;
}

table.mailbox thead tr {
    background: #ccc;
    border: 1px solid black;    
}

table.mailbox thead th {
    color: black;
    text-decoration: none;
    padding: 5px 10px;  
    background: #ddd;
    box-shadow: 0 0 2px inset;
    font-weight: normal;
}

table.mailbox tbody td {
    padding: 5px 10px;
}

table.mailbox tbody tr:hover {
    background: #ddd;
    cursor: pointer;
}

table.mailbox th.from {
    width: 20%;
}

table.mailbox th.to {
    width: 20%;
}

table.mailbox th.subject {
    width: 40%;
}

table.mailbox th.date {
    width: 20%;
}

.mail {
    width: 100%;
    display: block;
    position: relative;
}

.mail .mail-info {
    background: #ccc;
    border-radius: 8px;
    padding: 10px;
}

.mail .mail-content {
    font-style: italic;
    padding: 10px;
}


/* Survey */

.wide {
    width: 50px;    
}

table.survey tr {
    padding: 10px;
}

/* Helpers */

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.hidden {
    visibility: hidden;
}